.el-card.layout-container {
  border: none;
}

.layout-container .el-card__body {
  padding: 10px;
}

.aui-content > .el-tabs > .el-tabs__content > .el-tab-pane > .aui-card--fill.mod-home > .el-card__body {
  padding: 0px;
  background: url(~@/assets/img/welcome.png) no-repeat;
  background-size: 100% auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.aui-sidebar__inner .el-submenu .el-menu-item {
  &:hover {
    background-color: #2691ff !important;
    color: #fff;
    .aui-sidebar__menu-icon {
      color: #fff !important;
    }
    span {
      color: #fff;
    }
  }
}

.aui-sidebar {
  background: #0d1b33 !important;
}
